@{
    ViewData["Title"] = "Employee List";

    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

<h2>Employee List</h2>

<pre>@ViewBag.EmployeeDetails</pre>

<div>
    <a asp-action="CreateNewEmployee" class="btn btn-primary">Create New Employee</a>
</div>
<br />
<div>
    <a asp-action="Delete" class="btn btn-danger">Delete Employee</a>
</div>

<br />
<div>
    <a asp-action="Update" class="btn btn-primary">Update Employee</a>
</div>
<br />
<form asp-controller="Account" asp-action="Logout" method="post">

    <p>are you want to logout this page</p>
    <button type="submit" class="btn btn-danger">Logout</button>
</form>